Checkpoint
Dataset
encoder.json
gpt2
gpt2M
gpt2XL
SLM
omega
Omega_3.12
merges2.pkl
merges.txt
paramsM.pkl
params.pkl
paramsXL.pkl
settingsM.pkl
settings.pkl
settingsXL.pkl
summary.csv
the-verdict.txt
tiny.txt
vocab2.pkl
vocab.bpe
vocab.json
wikitext-103
